@model CARRENT.Models.Client

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Etes-vous sûr(e) de vouloir supprimer ce(tte) client(e) ?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomComplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresseMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresseMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NuméroTéléphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NuméroTéléphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheminImageCIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheminImageCIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheminImagePermis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheminImagePermis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-success btn-danger" /> 
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
