@model CARRENT.Models.Voiture
@{
    Layout = null;
}
@using CARRENT.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creer</title>
</head>
<body>
    <div class="container py-3">
        @using (Html.BeginForm("Create", "Voitures", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(v => v.numéroimmattriculation)
                @Html.EditorFor(v => v.numéroimmattriculation, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(v => v.DateMiseCirculation)
                @Html.EditorFor(v => v.DateMiseCirculation, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
            <div>
                @Html.LabelFor(v => v.TypeCarburant)
                @Html.EditorFor(v => v.TypeCarburant, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(v => v.PrixLocationJournalier)
                @Html.EditorFor(v => v.PrixLocationJournalier, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="ImageFichier">Image :</label>
                <input type="file" name="ImageFichier" id="ImageFichier" class="form-control form-control-file" />
            </div>
            <div class="form-group">
                <label>Modèles</label>
                <label>Nom de marque</label>
                <div class="col-md-10">
                    @{
                        CARRENT.Models.LocationVoitures db = new CARRENT.Models.LocationVoitures();
                        List<CARRENT.Models.Modele> ListeModelesMarque = db.Modeles.ToList();

                        <select value="@Html.HiddenFor(v=>v.MID)" class="form-control">
                            @{
                                <option value="" disabled hidden selected>Choisir la marque</option>
                                foreach (CARRENT.Models.Modele c in ListeModelesMarque)
                                {
                                    <option value="@c.MID">@c.nommarque</option>
                                }
                            }
                        </select>
                    }
                    @Html.ValidationMessageFor(v => v.MID, "", new { @class = "text-danger" })
                </div>
                <label>Numéro de série</label>
                <div class="col-md-10">
                    @{
                        CARRENT.Models.LocationVoitures db1 = new CARRENT.Models.LocationVoitures();
                        List<CARRENT.Models.Modele> ListeModelesNumSerie = db.Modeles.ToList();

                        <select value="@Html.HiddenFor(v=>v.MID)" class="form-control">
                            @{
                                <option value="" disabled hidden selected>Choisir le numéro de série</option>
                                foreach (CARRENT.Models.Modele c in ListeModelesNumSerie)
                                {
                                    <option value="@c.MID">@c.numérosérie</option>
                                }
                            }
                        </select>
                    }
                    @Html.ValidationMessageFor(v => v.MID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label>Catégories</label>
                <div class="col-md-10">
                    @{
                        CARRENT.Models.LocationVoitures db2 = new CARRENT.Models.LocationVoitures();
                        List<CARRENT.Models.Categorie> ListeCategories = db2.Categories.ToList();

                        <select value="@Html.HiddenFor(v => v.CID)" class="form-control">
                            @{
                                <option value="" disabled hidden selected>Choisir la catégorie</option>
                                foreach (CARRENT.Models.Categorie c in ListeCategories)
                                {
                                    <option value="@c.CID">@c.taille</option>
                                }
                            }
                        </select>
                    }
                    @Html.ValidationMessageFor(v => v.CID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        }
    </div>
</body>
</html>
