@model CARRENT.Models.Voiture
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CARRENT.Models
<h2>Créer</h2>

        @using (Html.BeginForm("Create", "Voitures", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(v => v.numéroimmattriculation)
                @Html.EditorFor(v => v.numéroimmattriculation, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(v => v.DateMiseCirculation)
                @Html.EditorFor(v => v.DateMiseCirculation, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
            <div>
                @*@Html.LabelFor(v => v.TypeCarburant)
                    @Html.EditorFor(v => v.TypeCarburant, new { htmlAttributes = new { @class = "form-control" } })*@
                <label>Type de carburant</label>
                <select name="TypeCarburant">
                    <option>Diesel </option>
                    <option>Essence</option>
                </select>
            </div>
            <div class="form-group">
                @Html.LabelFor(v => v.PrixLocationJournalier)
                @Html.EditorFor(v => v.PrixLocationJournalier, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="ImageFichier">Image :</label>
                <input type="file" name="ImageFichier" id="ImageFichier" class="form-control form-control-file" />
            </div>
            <div class="form-group">
                <label>Modèles</label>
                <div class="col-md-10">
                    @{
                        CARRENT.Models.LocationVoitures db = new CARRENT.Models.LocationVoitures();
                        List<CARRENT.Models.Modele> ListeModeles = db.Modeles.ToList();

                        <select name="MID" class="form-control">
                            @{
                                <option value="" disabled hidden selected>Choisir le modèle</option>
                                foreach (CARRENT.Models.Modele c in ListeModeles)
                                {
                                    <option value="@c.MID">@c.nommarque @c.numérosérie</option>
                                }
                            }
                        </select>
                    }
                    @*@Html.DropDownListFor(v => v.MID , (SelectList)ViewData["modeles"] )
                        @Html.ValidationMessageFor(v => v.MID, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <label>Catégories</label>
                <div class="col-md-10">
                    @{
                        CARRENT.Models.LocationVoitures db1 = new CARRENT.Models.LocationVoitures();
                        List<CARRENT.Models.Categorie> ListeCategories = db1.Categories.ToList();

                        <select name="CID" class="form-control">
                            @{
                                <option value="" disabled hidden selected>Choisir la catégorie</option>
                                foreach (CARRENT.Models.Categorie c in ListeCategories)
                                {
                                    <option value="@c.CID">@c.taille</option>
                                }
                            }
                        </select>
                    }

                    @*@Html.DropDownListFor(v => v.CID, (SelectList)ViewData["cats"])
                        @Html.ValidationMessageFor(v => v.CID, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <button type="submit" value="Créer" class="btn btn-success">Créer</button>
            </div>
        }
<div>
    @Html.ActionLink("Retour à la liste", "Index",null, new { @class = "btn btn-primary mt-2" })
</div>
