@model CARRENT.Models.Voiture

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes-vous sûr(e) de vouloir supprimer cette voiture ?</h3>
<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.taille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.taille)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modele.nommarque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modele.nommarque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modele.numérosérie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modele.numérosérie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numéroimmattriculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numéroimmattriculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMiseCirculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMiseCirculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeCarburant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCarburant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixLocationJournalier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixLocationJournalier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheminImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheminImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-success btn-danger" /> 
            @Html.ActionLink("Retour au menu", "Index",null,  new { @class = "btn btn-primary mt-2" })
        </div>
    }
</div>
