@model CARRENT.Models.Voiture

@{
    ViewBag.Title = "Modifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Voitures", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Voiture</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.VID)

    <div class="form-group">
        @Html.LabelFor(model => model.numéroimmattriculation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numéroimmattriculation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.numéroimmattriculation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateMiseCirculation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateMiseCirculation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateMiseCirculation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.TypeCarburant, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeCarburant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeCarburant, "", new { @class = "text-danger" })
            </div>*@
        <label>Type de carburant</label>
        <select name="TypeCarburant">
            <option>Diesel </option>
            <option>Essence</option>
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrixLocationJournalier, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrixLocationJournalier, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrixLocationJournalier, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="ImageFichier">Image :</label>
        <input type="file" name="ImageFichier" id="ImageFichier" class="form-control form-control-file" />
    </div>

    <div class="form-group">
        <label>Modèles</label>
        <div class="col-md-10">
            @{
                CARRENT.Models.LocationVoitures db = new CARRENT.Models.LocationVoitures();
                List<CARRENT.Models.Modele> ListeModeles = db.Modeles.ToList();

                <select name="MID" class="form-control">
                    @{
                        <option value="" disabled hidden selected>Choisir le modèle</option>
                        foreach (CARRENT.Models.Modele c in ListeModeles)
                        {
                            <option value="@c.MID">@c.nommarque @c.numérosérie</option>
                        }
                    }
                </select>
            }
            @*@Html.DropDownListFor(v => v.MID , (SelectList)ViewData["modeles"] )
                @Html.ValidationMessageFor(v => v.MID, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <label>Catégories</label>
        <div class="col-md-10">
            @{
                CARRENT.Models.LocationVoitures db1 = new CARRENT.Models.LocationVoitures();
                List<CARRENT.Models.Categorie> ListeCategories = db1.Categories.ToList();

                <select name="CID" class="form-control">
                    @{
                        <option value="" disabled hidden selected>Choisir la catégorie</option>
                        foreach (CARRENT.Models.Categorie c in ListeCategories)
                        {
                            <option value="@c.CID">@c.taille</option>
                        }
                    }
                </select>
            }

            @*@Html.DropDownListFor(v => v.CID, (SelectList)ViewData["cats"])
                @Html.ValidationMessageFor(v => v.CID, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modifier" class="btn btn-success" />
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-primary mt-2" })
        </div>
