@model CARRENT.Models.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer</h2>

<h3>Etes-vous sûr(e) de vouloir annuler cette réservation ?</h3>
<div>
    <h4>Réservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.CLID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.CLID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voiture.numéroimmattriculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voiture.numéroimmattriculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typelocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typelocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebutLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebutLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFinLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFinLocation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-success btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-primary mt-2" })
        </div>
    }
</div>
