<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CARRENT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="container">
        <div class="masthead">
            <nav>
                <ul class="nav nav-justified">
                    <li>@Html.ActionLink("Accueil", "Index", "Home", null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home", null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Catégories", "Index", "Categories",null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Modèles", "Index", "Modeles", null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Voitures", "Index", "Voitures", null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    @if (Session["CLID"] != null)
                    {
                        <li><a>Hello @Session["NomComplet"]</a></li>
                        <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>@Html.ActionLink("Se déconnecter", "Logout", "Clients", null, new { @class = "btn btn-default" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Se connecter", "Login", "Clients", null, new { @class = "btn btn-default" })</li>
                    }
                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

                    <li>@Html.ActionLink("Clients", "Index", "Clients", null, new { @class = "btn btn-default" })</li>

                    <li class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

                    <li>@Html.ActionLink("Réservations", "Index", "Reservations", null, new { @class = "btn btn-default" })</li>
                </ul>
            </nav>
            </div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - CARRENT</p>
                <p>Namasse Zineb et Reggabe Meryam, 4IIRG2, EMSI Maârif</p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script src="~/Scripts/umd/popper.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>


