@model IEnumerable<CARRENT.Models.Categorie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Nouvelle Catégorie", "Create",null,new {@class="btn btn-info" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.taille)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.taille)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.CID }, new { @class = "btn btn-primary mt-2" }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.CID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.CID }, new { @class = "btn btn-success btn-danger" })
                </td>
            </tr>
        }

    </table>
</body>
</html>


