@model CARRENT.Models.Modele

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails</h2>

<div>
    <h4>Modèle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nommarque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nommarque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numérosérie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numérosérie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit",null, new { id = Model.MID, @class = "btn btn-success" }) |
    @Html.ActionLink("Retour au menu", "Index", null, new { @class = "btn btn-primary mt-2" })
</p>
