@model IEnumerable<CARRENT.Models.Modele>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nouveau Modèle", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nommarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numérosérie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nommarque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numérosérie)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.MID }, new { @class = "btn btn-primary mt-2" }) |
            @Html.ActionLink("Détails", "Details", new { id = item.MID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Supprimer", "Delete", new { id = item.MID }, new { @class = "btn btn-success btn-danger" })
        </td>
    </tr>
}

</table>
