@model IEnumerable<CARRENT.Models.Modele>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nommarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numérosérie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nommarque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numérosérie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MID })
        </td>
    </tr>
}

</table>
